<% provide(:title, 'About') %>

<div class="center hero-unit", id= "hero">
	<div class= "text-center">
<h1>About the site</h1>
    </div>
</div>

<div class= "text-center", id= "about">
<p>I've been a posh fan since my father forced me to go to matches at about the age of five. I thought I'd create a site where fellow fans could interact on all things borough. There really weren't any other such fan sites, only the official site and a rather poor forum. So please sign up to talk about anything from transfers, to match analysis. You won't recieve anything by email, this site is born purely out of a love for my team, so no advertising or annoying popups will ever be here. If you have any information that you think should be on the news page please let me know. Thanks for your time and up the posh!</br>For any questions or information feel free to email me at rorymunro@hotmail.com</p>
</div>

<div class= "text-center", id= "official">
      <p>For information about tickets and the likes, visit the official website at  <%= link_to "THEPOSH.COM", "http://www.theposh.com" %>
	</div>
