

<div class= "center hero-unit", id= "hero">
	<div class= "text-center">
	<h1>Welcome to The Posh Fan Site!</h1>

<h3><%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>  for the forum!</h3>
</div>
</div>
 <div class= "center">

 	</div>
