<% provide(:title, 'News') %>

<div class= "center hero-unit", id= "hero">
	<div class= "text-center">
<h1>News!</h1>
    </div>
</div>


<div class= "row", id= "news">
	<div class= "text-center">
		<h3>Ferguson Signs a New Contract</h3></div></hr>
	
	<aside class= "span4">
		<section>
		<%= image_tag("darren.jpeg", alt: "Darren Ferguson", id: "pic") %>
</section>
</aside>
	<div class= "span7">
<p></br></br>Darren Ferguson has signed a new 3 year contract. Though when I bumped into him in the gym and awkwardly shook his hand he didn't say anything about it. His wage has not been disclosed as of yet, though it's been reported that it at least meets minumum wage. </p>
     </div>
 </div>

 <div class= "row", id= "news">
	<div class= "text-center">
		<h3>Peterborough Sign Jon Taylor</h3></div></hr>
	
	<aside class= "span4">
		<section>
		<%= image_tag("jon.jpg", alt: "Jon Taylor", id: "pic") %>
</section>
</aside>
	<div class= "span7">
<p></br></br>Peterborough sign Srewsbury right winger, Jon Taylor. The 21 year old has signed on a 3 year deal. He seems like a good old boy, aparently turning down 50% bigger wages from a championship team in order to play first team football.</p>
     </div>
 </div>


 <div class= "row", id= "news">
	<div class= "text-center">
		<h3>Fabregas to move to Peterborough?</h3></div></hr>
	
	<aside class= "span4">
		<section>
		<%= image_tag("cesc.jpg", alt: "Cesc Fabregas", id: "pic") %>
</section>
</aside>
	<div class= "span7">
<p></br></br>Rumours of the posh signing Spanish international Cesc Fabregas are unfounded speculation. It turns out that Peterborough lack 30 of the 30 million pounds asking price for the player and that his 100 thousand pounds a week wages would bankrupt the club in a matter of months.</p>
     </div>
 </div>

<div class= "row", id= "news">
	<div class= "text-center">
		<h3>Tommy Rowe moves To Wolves</h3></div></hr>
	
	<aside class= "span4">
		<section>
		<%= image_tag("rowe.jpeg", alt: "Tommy Rowe", id: "pic") %>
</section>
</aside>
	<div class= "span7">
<p></br></br>Tommy Rowe has left Peterborough for newly promoted champioship team Wolverhampton. I've always thought he was average at best but good luck to the 25 year old I guess.</p>
     </div>
 </div>


