<% provide(:title, 'News') %>

<div class= "center hero-unit", id= "hero">
	<div class= "text-center">
<h1>News!</h1>
    </div>
</div>


<div class= "row", id= "news">
	<div class= "span8">
		<div class= "text-center">

		<h3>Fabregas signing?</h3></div></hr>
<p>Rumours of the posh signing Spanish international Cesc Fabregas are unfounded speculation. It turns out that Peterborough lack 30 of the 30 million pounds asking price for the player and that his 100 thousand pounds a week wages would bankrupt the club in a matter of months.</p>
     </div>
</div>

<div class= "row", id= "news">
	<div class= "span8">
		<div class= "text-center">

		<h3>Fabregas signing?</h3></div></hr>
<p>Rumours of the posh signing Spanish international Cesc Fabregas are unfounded speculation. It turns out that Peterborough lack 30 of the 30 million pounds asking price for the player and that his 100 thousand pounds a week wages would bankrupt the club in a matter of months.</p>
     </div>
</div>

<div class= "row", id= "news">
	<div class= "span8">
		<div class= "text-center">

		<h3>Fabregas signing?</h3></div></hr>
<p>Rumours of the posh signing Spanish international Cesc Fabregas are unfounded speculation. It turns out that Peterborough lack 30 of the 30 million pounds asking price for the player and that his 100 thousand pounds a week wages would bankrupt the club in a matter of months.</p>
     </div>
</div>