<h1> all users</h1>

<ul class="users">
	<% @users.each do |user| %>
   <li><%= link_to user.name, user %>
	  <% if current_user.email == 'rorymunro@hotmail.com'  %>
	| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure roz?"} %>
      <% end %>
	<% end %>
   </li>
</ul>