@import "bootstrap";

/* Universal */

html {
	overflow-y: scroll;
}

body {
	

}

section {
	overflow: auto;
}

#poshlogo {
	max-width: 80px;
	float: left;
	background: white;
	border-radius: 3px;
}
#main {
	margin-top: 93px;
	background: white;
	border-radius: 5px;

}


.navbar-inner {
	background: white;
	border: none;
	


}
.navbar .nav > li > a {
	margin-top: 20px;
    font: 20px tahoma;
    color: #ff9500;
    text-shadow: 0px 1px 1px black;
    &:hover {
    color: #ffc573;
    }
}

#team {
	border-radius: 4px;

}

#hero {
    background: #03436a;
    padding-top: 5px;
    padding-bottom: 5px;

	h1{
	font: 50px tahoma;
	color: white;
	}
	h3 {
	color: #ff9500;
	}
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* footer */

footer {
	  margin-top: 45px;
	  border-top: 1px solid #ff9500;
	  color: #03436a;
	  small{
	  float:left;
	}
	ul {
	  float: right;
	  list-style: none;

	  li {
	    float: left;
	    margin-left: 10px;
	  }
	}
}

/* news page */

.row {
	  
      border: 1px solid #03436a;
      box-shadow: 0px 1px 2px #03436a;
	  padding: 10px;
	  margin-left: 2px;
	  border-radius: 4px;
	  margin-bottom: 7px;

    .span4 {
	  float: left;
	  img {
	  border-radius: 4px;
	  max-height: 200px;
	  min-width: 230px;
	 }
	}

	.span7 {
	  float: right;
	}

	h3{
	  font:bold 25px tahoma;
      color: #d39f5f;
      border-bottom: 1px solid #03436a;
      padding-bottom: 5px;
      
	}
	
	p{
	  font: 16px tahoma;
	  color: #3184b4;

	}
}





/* about page */

#about {
	
	p {
	font: 17px tahoma;
	color: #ff9500;

	}
}

#official {
	color: #03436a;
}

/* FORUM */

/* modules */

.module { border:1px solid #e2e2e2; border-radius: 4px; margin:.8em 0; background-color:#fff; overflow:auto; }
.module_controls { padding:.8em; }
.module_header { color:#fff; padding:.7em .7em .7em 1.4em; background-color:#03436a; }
.module_header a { color:#fff; }
.module_subheader, .module_footer { margin:.6em .8em; padding:.6em; }
.module_subheader { border-bottom:1px solid #e2e2e2; }
.module_footer { border-top:1px solid #e2e2e2; }
.module_body { padding:1em; }

/* Form Fields & Labels */

.module .fieldset { width:100%; }
.module .fieldset .indent { width:16em; }
.module .fieldset .label { font-weight:bold; text-align:center; display:block; float:left; padding:6px 0px 2px 1em; background: #03436a; border:1px solid #e2e2e2; border-radius: 3px; }
.module .fieldset .label small { font-weight:normal; }
.module .fieldset .input { padding:.2em 1em; display:block; float:left; }

/* Common */

.module .clear { clear: both; height: 0; overflow: hidden; }
.module .smaller { font-size:.9em; }
.module .left { float:left; }
.module .right { float:right; text-align:right; }
.controls a { margin:0 5px; font-size:.8em; }
#icon {
	width: 26px;
	padding-top: 4px;
}

/* Tables */

table { width:100%; border-collapse:collapse; }
table th { font-weight:normal; padding:.7em; font-size:.9em; }
table td { padding:.5em; border:1px solid #e2e2e2; border-bottom:0px; vertical-align:top; background:#fff; }
table td:first-child { border-left:0px; }
table td:last-child { border-right:0px; }

table .icon { width:26px; text-align:center; }
table .counts { width:8%; text-align:center; }
table .last_post { padding-left:10px; }
table .description { width:55%; text-align:left; padding-left:46px; 
}

/* Post View Table */

table .post_author { padding-left:15px; vertical-align:top !important; }
table .post_author .name { font-size:1.5em; display:block; margin-bottom:5px; }
table .post_author .name a { margin-left:-20px; }
table .post_author .info { display:block; margin:5px 0; }
table .post_body { width:80%; padding:10px 10px 30px 10px; border-bottom:0px;  }

/* BBCode  */

blockquote {
  border: 1px solid #e2e2e2;
  font-style: italic;
  margin: 10px 0px 0px 25px;
  padding: 10px;
 }