@import "bootstrap";

/* Universal */

html {
	overflow-y: scroll;
}

body {
	

}

#poshlogo {
	max-width: 80px;
	float: left;
	background: white;
	border-radius: 3px;
}
#main {
	margin-top: 110px;
	background: white;
	border-radius: 5px;

}


.navbar-inner {
	background: white;
	border: none;
	


}
.navbar .nav > li > a {
	margin-top: 20px;
    font: 20px tahoma;
    color: #ff9500;
    text-shadow: 0px 1px 1px black;
    &:hover {
    color: #ffc573;
    }
}



#hero {
    background: #03436a;
    padding-top: 5px;
    padding-bottom: 5px;
	h1{
	font: 50px tahoma;
	color: white;
	}
	h3 {
	color: #ff9500;
	}
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* footer */

footer {
	  margin-top: 45px;
	  border-top: 1px solid #ff9500;
	  color: #03436a;
	  small{
	  float:left;
	}
	ul {
	  float: right;
	  list-style: none;

	  li {
	    float: left;
	    margin-left: 10px;
	  }
	}
}

/* news page */

#news {
	.span8 {
	  border: 1px solid #d39f5f;
	  padding: 10px;
	  border-radius: 4px;
	  margin-bottom: 2px;
	}
	h3{
	  font:bold 25px tahoma;
      color: #03436a;
      border-bottom: 1px solid #d39f5f;
      padding-bottom: 5px;
	}
	p{
	  font: 16px tahoma;
	  color: #3184b4;
	}
}



/* about page */

#about {
	
	p {
	font: 17px tahoma;
	color: #ff9500;

	}
}